In [1]:
import pandas as pd
arquivo2 = pd.read_excel(r'/home/candrecf/Documentos/cargas.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '/home/candrecf/Documentos/cargas.xlsx'

In [ ]:
import os
print(os.getcwd())

/home/candrecf/Documentos

In [ ]:
arquivo2

    Potência   Carga
0         20  carga1
1          9  carga2
2          9  carga3
3         10  carga4
4         15  carga5
5         30  carga6
6         20  carga1
7          9  carga2
8          9  carga3
9         10  carga4
10        15  carga5
11        30  carga6

In [ ]:
last_id = arquivo2.iloc[-1,0]
l_id = arquivo2.iloc[-2,0]

sub = last_id - l_id
down = 0

if sub < 0:
    sub *= -1
    down = 1
else :
    down = 0

In [ ]:
y = arquivo2['Carga']
x = arquivo2.drop('Carga', axis = 1)

x_teste1 = [[sub]]

print(sub)
print(down)

20
1

In [ ]:
x

    Potência
0         20
1          9
2          9
3         10
4         15
5         30
6         20
7          9
8          9
9         10
10        15
11        30

In [ ]:
y

0     carga1
1     carga2
2     carga3
3     carga4
4     carga5
5     carga6
6     carga1
7     carga2
8     carga3
9     carga4
10    carga5
11    carga6
Name: Carga, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [ ]:
x_treino

    Potência
5         30
10        15
7          9
3         10
6         20
4         15
9         10
11        30

In [ ]:
y_treino

5     carga6
10    carga5
7     carga2
3     carga4
6     carga1
4     carga5
9     carga4
11    carga6
Name: Carga, dtype: object

In [ ]:
x_teste

   Potência
0        20
1         9
8         9
2         9

In [ ]:
y_teste

0    carga1
1    carga2
8    carga3
2    carga3
Name: Carga, dtype: object

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

result = modelo.score(x_teste,y_teste)
print ("Acurácia:", result)

Acurácia: 0.5

In [ ]:
predi = modelo.predict(x_teste1)
print(predi)

['carga1']